<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Blog App</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <a class="<%=homeActive%>" href="/">Home</a>
        <a class="<%=editActive%>" href="/edit">Edit</a>
        <a class="<%=newActive%>" href="/new">New Post</a>
        <a class="<%=aboutActive%>" href="/about">About</a>
      </div>
    </header>
  
